

// ==========================================================================
// Pages
// ==========================================================================

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,500);

h1, h2, h3, h4, p{

font-family: 'Raleway', sans-serif;

}

h1{

	font-weight: 600;

}

h2{

	font-weight: 500;

}


p {

		font-weight: 400;

}

.project-title {

font-family: 'Raleway', sans-serif;
font-weight: 500;

}
 
 .project-points {

font-family: 'Raleway', sans-serif;
font-weight: 500;
font-weight: bold;
}

.divider {

background-color: black;

height: 1px;

margin-top: 1em;

margin-bottom: 5em;

}

img{

	width: 100%;


}

.my-statement {

	font-weight: 500;
}





