
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,500);


.section-wrapper{
	max-width: 80rem;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
	// padding: 5rem 0;
	overflow: visible;
	@extend %clearfix;
}


.project-splash{
	width: auto;
	background-color: darken(grey, 1%);
	max-height:500px;

}

.project-image{
	width: auto;
	max-width: 100%;
	display: inline-block;
	margin: 2rem 1rem;
	max-height:500px;

}


h1, h2, h3, h4, p{

font-family: 'Raleway', sans-serif;

}

h1{

	font-weight: 700;

}

h2{

	font-weight: 600;

}

h3{

	font-weight: 500;

}


p {

		font-weight: 400;

}
